.plHome-main {
    display: flex;
    max-height: calc(100vh - 110px);
}

.plHome-container {
    justify-content: center;
    display: flex;
    flex: 1;
}

.plHome-content {
    overflow: auto;
    width: 1400px;
    border-radius: 20px;
    margin-top: 65px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, white 100%, #e4c9ac 0%), #e3c1d3;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.plHome-table__content {
    text-align: center;
    padding: 0 50px;
    overflow: auto;
    height: 100%;
    margin: 20px 0px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}

.plHome-table__content table {
    width: 100%;
    border-collapse: collapse;
}

.plHome-table__content table tr {
    background: rgba(217, 217, 217, 0.13);
}

.plHome-table__content table tr th {
    border-right: 1px solid #c7c7c7;
    padding: 14px;
}

.plHome-table__content table tr td {
    padding: 20px;
    line-height: 30px;
    height: 30px;
}

.plHome-table__content table thead tr {
    background-color: #d9d9d9;
    position: sticky;
    top: 0;
}

.plHome-table__content table thead th {
    font-size: 14px;
    font-weight: 600;
}

.plHome-table__content table tr td {
    border-right: 1px solid #c7c7c7;
}

.plHome-table__content table tbody tr {
    border-bottom: 1px solid #c7c7c7;
}

.plHome-table__content table tbody tr:hover {
    background-color: pink;
} 

#title {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: red;
    margin-top: 20px;
}